<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <% link_to "/" do %>
      <%= image_tag "wave.png", class: "navbar-wagon-logo" %>
    <% end %>

    <div class="navbar-wagon-item">

      </div>
    </div>

  </div>
</nav>
