<div class="container">
  <div class="row">
    <div class="small-carousel">
      <div class="col-xs-8 padding-none">
        <div class="img-background"></div>
        </div>
        <div class="col-xs-4 padding-none">
          <div class="collection-label">
          </div>
      </div>
    </div>
  </div>
</div>

<div class="photo">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div> <img src="http://placehold.it/150x150" alt=""> </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div> <img src="http://placehold.it/150x150" alt=""> </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div> <img src="http://placehold.it/150x150" alt=""> </div>
        </div>
      </div>
  </div>
</div>
