
<div class="background-gray padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
          <h2>The Best</h2>
          <p>OUHOU</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
          <h2>Tailored For You</h2>
          <p>OUHOU</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
          <h2>No BS</h2>
          <p>OUHOU</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="card-white">
          <h2>With Love</h2>
          <p>OUHOU</p>
        </div>
      </div>
    </div>
  </div>
</div>

