<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Immo8000</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="banner text-center">
    <h1>Immo8000</h1>
    <p>L'immobilier fois 8000</p>
    <a href="" class="btn btn-danger">Vendre</a>
  </div>
  <div class="background-grey padded-vertical">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card-white">
            <h2>Un super outil</h2>
            <p>Ouaw comment c'est bien</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card-white">
            <h2>Un super outil</h2>
            <p>Ouaw comment c'est bien</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card-white">
            <h2>Un super outil</h2>
            <p>Ouaw comment c'est bien</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card-white">
            <h2>Un super outil</h2>
            <p>Ouaw comment c'est bien</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container padded-vertical">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div class="card-city text-center" style="background-image: url('https://a0.muscache.com/ic/discover/180?interpolation=lanczos-none&output-format=jpg&output-quality=70&v=33b4f2&downsize=655px:326px');">
          <img src="https://a0.muscache.com/ic/users/7592222/profile_pic/1374255145/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=68:*&output-format=jpg&output-quality=70" alt="Lisboa" class="img-circle">
          <h2>Lisboa</h2>
          <div class="card-city-price">109 €</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card-city text-center" style="background-image: url('https://a2.muscache.com/im/pictures/21922406/2437f2a1_original.jpg?aki_policy=x_medium');">
          <img src="https://a0.muscache.com/ic/users/7592222/profile_pic/1374255145/original.jpg?interpolation=lanczos-none&crop=w:w;*,*&crop=h:h;*,*&resize=68:*&output-format=jpg&output-quality=70" alt="Lisboa" class="img-circle">
          <h2>Lisboa</h2>
          <div class="card-city-price">109 €</div>
        </div>
      </div>
    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
